form{
    margin: 15px;
}
legend{
    color: limegreen;
}

.lab{
    color: black;
}

.obg{
    color: red;
}

td{
    width: 600px;
    padding-right: 15px;
}

.campo-desab{
    width: 100%;
    margin-bottom: -1em;
}

.campo-hab{
    width: 100%;
    margin-bottom: -1em;
}

.borda{
    border-left: 3px solid black;
    padding-left: 5px;
}

input.ng-valid{
    border-left: 3px solid green;
}

input.ng-invalid{
    border-left: 3px solid red;
}

